<form (ngSubmit)="create()">
  <label>Предмет:
    <select [(ngModel)]="lessonBase.subject" name="subject" required>
      <option *ngFor="let s of subjects" [value]="s.name">{{ s.name }}</option>
    </select>
  </label>

  <label>Аудитория:
    <input [(ngModel)]="lessonBase.room" name="room" />
  </label>

  <label>Начало:
    <input type="datetime-local" [(ngModel)]="lessonBase.startTime" name="startTime" />
  </label>

  <label>Конец:
    <input type="datetime-local" [(ngModel)]="lessonBase.endTime" name="endTime" />
  </label>

  <label>Группы:
    <select multiple [(ngModel)]="selectedGroups" name="selectedGroups">
      <option *ngFor="let group of groups" [value]="group">{{ group }}</option>
    </select>
  </label>

  <button type="submit">Создать</button>
</form>